.index-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
a {
    margin: 10px;
    text-decoration: none;
    color: #F34456;
    font-size: 18px;
}

a:hover {
    color: #30607A
}

.bio-box {
    width: 60%;
    border: 2px solid #D2F688;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.image-container img {
    width: 150px;
    height: 300px;
    object-fit: cover;
    margin: 0 10px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 50px;
    background-color: #1C1833;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.image-container img {
    width: 150px;
    height: 300px;
    object-fit: cover;
    margin: 0 10px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}
a {
    text-decoration: none;
    color: white;
}

.portrait {
    width: 300px;
    height: auto;
    object-fit: cover;
    box-shadow: 10px 10px 15px #F34456;
    margin-bottom: 20px;
}