h1 {
    text-align: center;
}

#container {
    text-align: center;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.book {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
}
